// insert buttons style

.btn__arrow-right {
    border: none;
    background: none;
    margin: 0;
    // padding: var(--space-xs);
    align-self: center;
}

.btn__round-large {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    padding: var(--space-md) var(--space-md);
    border: 2px solid var(--yellow);
    border-radius: var(--btn-radius);
    font-size: var(--btn-font-size);
    // color: var(--color-link);
    background: white;
}