<p class="text-coc">We believe excercise is for <b><i>everyone</i></b>. <br>
    At gym buddy we’re trying to change gym culture for the better.
    so that everyone feels safe and comfortable at the gym.
</p>

<div class="container-center">
    <a href="/sign-up">
        <button class="btn__round-submit" type="button">I accept</button>
    </a>
</div>