<p>We believe excercise is for everyone. At gym buddy we’re trying to change gym
culture so that everyone feels safe and comfortable at the gym.</p>

<a id="agree_button" href="/sign-up">
    <button type="button">i agree</button>
</a>