<p class="text-coc">We believe excercise is for <b><i>everyone</i></b>. <br><br>
    At gym buddy we’re trying to change gym culture for the better,
    so everyone feels safe and comfortable at the gym.
    <br><br>
    Join us in building a community of kind, empowered and confident gym goers!
</p>

<div class="container-center">
    <a href="/sign-up">
        <button class="btn__round-submit" type="button">I agree</button>
    </a>
</div>