<div class="container-content">
    <div class='container-center'>
        <h1>Congrats!</h1>
    </div>
    <div class="container-center">
        <h2>You've found a buddy!</h2>
    </div>
    <div class="container-center">

        <button class="btn__round-large" type="button">Chat</button>

        <button class="btn__round-small" type="button">Report User</button>
    </div>

</div>