<section class="container-main">
    <div class="container-center">
        <div class="circle">
            <img class="image__icon__avatar-profile" src="./assets/genderless_avatar.png" alt="gym buddy animation">
        </div>
        <span class="add">+</span>
    </div>
    <h4>Josephine Bloggs</h4>
</section>