{{!-- // this file is incomplete TODO:
// 1. add all script logic to one file AND make footer hbs with that script in it.
// 2. h4 on this page should be created with DOM manipulation, picking out name input in signUpPage and using it to populate the elem
// 3. uls on this page "" ""
// 4. remove brs in label being used as spacing, use padding/margin etc 
// 5. change last textarea into a button and figure out photo uploads? --}}
{{!-- 
<section class="container-main">
    <div class="container-center">
        <div class="circle">
            <img class="image__icon__avatar-profile" src="./assets/genderless_avatar.png" alt="gym buddy animation">
        </div>
        <span class="add">+</span>
        <input type="file" accept="image/*" name="" id="upload-image">
    </div>
    <h4 class="dom-name">Josephine Bloggs</h4>


    <section class="basic-grid-gap">
       <ul></ul>
    </section>

    <form class="form-main" action="/submit" method="post">   
        <label for="bio">About:<br><br>
            <textarea class="textarea-bio" id="bio" cols="38" rows="5" placeholder="something about yourself..." required></textarea>
        </label>
        <label for="photos">
            <textarea class="textarea-bio" id="photos" cols="38" rows="3" placeholder="+ PHOTOS" required></textarea>
        </label>
    </form>
</section> --}}