<h1>gymbuddy</h1>
<img src="./assets/buddy_animation.gif" alt="gym buddy animation">

<a id="find_buddy_button" href="/conduct">
    <p>find a buddy</p>
    <img src="./assets/right-arrow.png" alt="arrow button">
</div>

<script src="scripts/script.js"></script>