<div class="container-main">
    <h1 class="sub-title">Search</h1>
    <p class="main-paragraph">Here is a list of buddies, based on your search preferences</p>
    {{> matchedBuddy }}
    {{> matchedBuddy }}
    {{> matchedBuddy }}
    {{> matchedBuddy }}
    {{> matchedBuddy }}
    {{> matchedBuddy }}

</div>