{{!-- // this file is incomplete TODO:
// 1. Feature/add classes and style
// 2. Feature/add DOM logic to animate Collapsibles and slider values  --}}


<section class="container-main">
    <h4>Search Prefs</h4>
    <form class ="form-main "action="/search-settings" method="POST">
        <div class="">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
        <div class="">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>

        <button class="TODO">Open Collapsible</button>
        <div class="content">
            <p>Lorem ipsum...</p>
        </div>


        <button class="TODO">Open Collapsible</button>
        <div class="content">
            <p>Lorem ipsum...</p>
        </div>

        <button class="TODO">Open Collapsible</button>
        <div class="content">
            <p>Lorem ipsum...</p>
        </div>
    </form>


</section>