{{!-- // this file is incomplete TODO:
// 1. Feature/add classes and style
// 2. Feature/add DOM logic to animate Collapsibles and slider values 
// 3. Feature/ add content to collapsibles with inputs and (nested) inputs to form --}}


<section class="container-main">
    <h4>I would like my buddy to be...</h4>
    <form class="form-main" id="searchPrefs" action="/search-settings" method="GET">
        <div class="container-main">
            <label for="ageRange">
                <p>age: <span class="age-reading">25 years old</span></p>
                <input class="slider" type="range" min="18" max="100" value="" id="ageRange" name="agePref"
                    form="searchPrefs">
            </label>
            <div>
                <label for="distanceRange">
                    <p>distance: <span class="distance-reading"> 3 km</span></p>
                    <input class="slider" type="range" min="1" max="100" value="" id="distanceRange" name="distancePref"
                        form="searchPrefs">
                </label>
            </div>
        </div>

        <button type="button" class="collapsible">Gender</button>
        <h5 class="gender container-hide"></h5>
        <section class="basic-grid container-hide gender">
            <div class="input-btn">
                <label for="woman">
                    <input type="checkbox" id="woman" form="searchPrefs" value="woman"
                        name="genderPref"><span>woman</span>
                </label>
            </div>
            <div class="input-btn">
                <label for="man">
                    <input type="checkbox" id="man" form="searchPrefs" value="man" name="genderPref"><span>man</span>
                </label>
            </div>
            <div class="input-btn">
                <label for="pref-not-to-say">
                    <input type="checkbox" id="pref-not-to-say" form="searchPrefs" value="pref-not-to-say"
                        name="genderPref"><span>prefer not to say</span>
                </label>
            </div>
            <div class="input-btn">
                <label for="pref-not-to-self-des">
                    <input type="checkbox" id="pref-not-to-self-des" form="searchPrefs" value="pref-not-to-self-des"
                        name="genderPref"><span>self-describe</span>
                </label>
            </div>
        </section>


        <button type="button" class="collapsible">Experience level</button>
        <h5 class="exp container-hide"></h5>
        <section class="basic-grid container-hide exp">
            <div class="input-btn">
                <label for="Beginner">
                    <input type="checkbox" id="Beginner" form="searchPrefs" value="Beginner"
                        name="expPref"><span>beginner</span>
                </label>
            </div>
            <div class="input-btn">
                <label for="Intermediate">
                    <input type="checkbox" id="Intermediate" form="searchPrefs" value="Intermediate"
                        name="expPref"><span>intermediate</span>
                </label>
            </div>
            <div class="input-btn">
                <label for="Advanced">
                    <input type="checkbox" id="Advanced" form="searchPrefs" value="Advanced"
                        name="expPref"><span>advanced</span>
                </label>
            </div>
        </section>

        <button type="button" class="collapsible">Goals</button>
        <h5 class="goals container-hide"></h5>
        <section class="basic-grid container-hide goals">
            <div class="input-btn">
                <label for="Keeping Fit">
                    <input type="checkbox" id="Keeping Fit" form="searchPrefs" value="Keeping Fit"
                        name="goalPref"><span>keeping fit</span>
                </label>
            </div>
            <div class="input-btn">
                <label for="building-muscle">
                    <input type="checkbox" id="building-muscle" form="searchPrefs" value="building-muscle"
                        name="goalPref"><span>building muscle</span>
                </label>
            </div>
            <div class="input-btn">
                <label for="losing-weight">
                    <input type="checkbox" id="losing-weight" form="searchPrefs" value="losing-weight"
                        name="goalPref"><span>losing weight</span>
                </label>
            </div>
            <div class="input-btn">
                <label for="looking-to-begin">
                    <input type="checkbox" id="looking-to-begin" form="searchPrefs" value="looking-to-begin"
                        name="goalPref"><span>looking to begin</span>
                </label>
            </div>
        </section>
        <div class="container-center">
            <button class="btn__round-submit" type="submit" form="searchPrefs">
                Search
            </button>
        </div>
    </form>



    <footer class="footer">
        <script src="scripts/searchPage.js"></script>
    </footer>
</section>