<form class="main-form" action="/submit" method="post">
    
<label for="input-name">name</label><br>
<input type="text" name="name" value="" id="input-name" pattern="^[A-Za-z]+$" required><br>

</form>