{{!-- // this file is incomplete TODO:
// 1. consider swapping header labels with <fieldset> <legend></legend></fieldset>
// 2. fix form to ensure all the input values are sent to the back
// 3. fix navigation, add back buttons and fix button to createProfilePage --}}



<section class="container-main">
    <form class="main-form" method="POST" action="create-user" form="signUp">
        {{!-- page 1 --}}
        <div class="page-one">
            <label for="input-name">name:<br><br>
                <input class="input-text" type="text" value="" form="signUp" id="input-name" name="input-name"
                    pattern="^[A-Za-z]+$" required><br>
            </label>

            <label for="input-age">age:<br><br>
                <input class="input-text" type="text" value="" form="signUp" id="input-age" name="input-age"
                    pattern="^[A-Za-z]+$" required><br>
            </label>

            <label for="input-gender">what best describes your gender:<br><br> </label>
            <section class="basic-grid">
                <div class="input-btn">
                    <label for="woman">
                        <input type="checkbox" id="woman" form="signUp" value="woman" name="woman"><span>woman</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="man">
                        <input type="checkbox" id="man" form="signUp" value="man" name="man"><span>man</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="pref-not-to-say">
                        <input type="checkbox" id="pref-not-to-say" form="signUp" value="pref-not-to-say"
                            name="pref-not-to-say"><span>prefer not to say</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="pref-not-to-self-des">
                        <input type="checkbox" id="pref-not-to-self-des" form="signUp" value="pref-not-to-self-des"
                            name="pref-not-to-self-des"><span>self-describe</span>
                    </label>
                </div>
            </section>
        </div>

        <div class="page-two">
            <label for="input-gender">what time(s) work for you:<br><br> </label>
            <section class="basic-grid">
                <div class="input-btn">
                    <label for="morning">
                        <input type="checkbox" id="morning" form="signUp" value="morning"
                            name="time"><span>morning</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="afternoon">
                        <input type="checkbox" id="afternoon" form="signUp" value="afternoon"
                            name="time"><span>afternoon</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="evening">
                        <input type="checkbox" id="evening" form="signUp" value="evening"
                            name="time"><span>evening</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="flexible">
                        <input type="checkbox" id="flexible" form="signUp" value="flexible"
                            name="time"><span>flexible</span>
                    </label>
                </div>
            </section>


            {{!-- naughty me using brs for spacing -todo fixthis --}}
            <label for="input-exp"> <br>what experience level best describes you:<br><br> </label>
            <section class="basic-grid">
                <div class="input-btn">
                    <label for="beginner">
                        <input type="checkbox" id="beginner" form="signUp" value="beginner"
                            name="exp"><span>beginner</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="intermediate">
                        <input type="checkbox" id="intermediate" form="signUp" value="intermediate"
                            name="exp"><span>intermediate</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="advanced">
                        <input type="checkbox" id="advanced" form="signUp" value="advanced"
                            name="exp"><span>advanced</span>
                    </label>
                </div>

            </section>

            <label for="input-time"> <br>pick at least one goal:<br><br> </label>
            <section class="basic-grid">
                <div class="input-btn">
                    <label for="keeping-fit">
                        <input type="checkbox" id="keeping-fit" form="signUp" value="keeping-fit"
                            name="goal"><span>keeping fit</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="building-muscle">
                        <input type="checkbox" id="building-muscle" form="signUp" value="building-muscle"
                            name="goal"><span>building muscle</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="losing-weight">
                        <input type="checkbox" id="losing-weight" form="signUp" value="losing-weight"
                            name="goal"><span>losing weight</span>
                    </label>
                </div>
                <div class="input-btn">
                    <label for="looking-to-begin">
                        <input type="checkbox" id="looking-to-begin" form="signUp" value="looking-to-begin"
                            name="looking-to-begin"><span>looking to begin</span>
                    </label>
                </div>
            </section>
        </div>

        <div class="page-three">

            <h4 class="dom-name">Josephine Bloggs</h4>
            <section class="basic-grid-gap">
                <ul></ul>
            </section>
            <label for="bio">About:<br><br>
                <textarea class="textarea-bio" id="bio" cols="38" rows="5" placeholder="something about yourself..."
                    required></textarea>
            </label>

        </div>
        <button type="submit">create my profile</button>
    </form>

    <div class="container-center">
        <button class="btn__arrow-right">
            {{!-- <a href="/conduct-page"> --}}
            <img src="./assets/right-arrow.png" alt="arrow button to the right">
            {{!-- </a> --}}
        </button>
    </div>

</section>



{{!-- 
    <section class="container-main">
    <div class="container-center">
        <div class="circle">
            <img class="image__icon__avatar-profile" src="./assets/genderless_avatar.png" alt="gym buddy animation">
        </div>
        <span class="add">+</span>
    </div>



 <form class="create-profile-form" action="/create-profile" method="post">
        <label for="upload-image">
            <input type="file" accept="image/*" name="" id="upload-image">
        </label>
       
        <label for="photos">
            <textarea class="textarea-bio" id="photos" cols="38" rows="3" placeholder="+ PHOTOS" required></textarea>
        </label>
        <button type="submit">submit</button>
    </form> 
</section>  --}}