<img class="image-splash" src="./assets/buddy_animation.gif" alt="gym buddy animation">

<div class="container-center">
    <button class="btn__arrow-right" >
        <a href="/conduct-page">
            <img src="./assets/right-arrow.png" alt="arrow button to the right">
            <p>find a buddy</p>
        </a>
    </button>    
</div>



<script src="scripts/location.js"></script>

