<header class="header text--xxxl">
    <p class="splash-text">gymbuddy</p>
</header>

<img class=" image-splash" src="./assets/buddy_animation.gif" alt="gym buddy animation">

<div class="splash-center">
    <a href="/conduct-page">
        <button class="splash-button" type="button">
            <p>find a buddy</p>

            <img class="splash-arrow" src="./assets/right-arrow-next.png" alt="arrow button to the right">

        </button>
    </a>
</div>