<h1>gymbuddy</h1>
<img src="./assets/buddy_animation.gif" alt="gym buddy animation">

<button id="find_buddy_button">
<a href="/conduct-page">
    <p>find a buddy</p>
    <img src="./assets/right-arrow.png" alt="arrow button">
</a>
</button>


<script src="scripts/splash.js"></script>