<img class='arrow-icon' src="./assets/right-arrow.png" alt="arrow">
<h1 class="sub-title">Profile</h1>
<img src="./assets/profile-pic.png" alt="Ryan" class="profile-img">
<p class="main-paragraph">Ryan McAvoy, 28</p>
<div class="container">
    <p class="p-border">Morning</p>
    <p class="p-border">Beginner</p>
    <p class="p-border">Lose Weight</p>
    <p class="p-border">Build Muscle</p>
</div>

<input type="text" placeholder="BIO..." class="input-box">

<div class="container-btn">
    <button class="btn__round">Maybe Not</button>
    <button class="btn__round">GymBuddy</button>
</div>