<header class="header-settings">
    <img class="setting-icon" src="./assets/settings-icon.png" alt="settings">
    <h1>gymbuddy</h1>
    <img class="profile-icon" src="./assets/profile-icon.png" alt="profile-icon">
</header>