<div class="buddy-match-grid">
    
    <img src="./assets/profile-pic.png" alt="name" class="matched-buddle-img box1">
    <p class="box2 box2-paragraph">{{this.users_name}}, {{this.age}}</p>
    {{!-- <p class="box3">age: 28</p> --}}
    <p class="box4">Morning</p>
    <p class="box5">{{this.experience}}</p>
    <p class="box6">{{this.goal_name}}</p>
    <p class="box7">Build Muscle</p>

</div>