<div class="buddy-match-grid">

    <img src="./assets/profile-pic.png" alt="name" class="matched-buddle-img box1">
    <p class="box2 box2-paragraph">{{this.users_name}}, {{this.age}}</p>
    {{!-- <p class="box3">age: 28</p> --}}
    <p class="box4">Morning</p>
    <p class="box5">{{this.experience}}</p>
    <p class="box6">{{this.goal_name}}</p>
    <p class="box7">Build Muscle</p>

    <button id='modelBtn'>I like this GYMBUDDY</button>

    <div id='myModal' class='modal'>
        <div class='modal-content'>
            <div class='modal-header'>
                <div class='close'>&times;</div>
                <h2>Congrats! You have a match!</h2>
            </div>
            <div class='modal-body'>
                <p>To contact your match, please slide in their DMs</p>
            </div>
            <div class='modal-footer'>
                <h3>GYMBUDDY</h3>
            </div>
        </div>
    </div>
</div>
<footer class='footer'>
    <script src="scripts/modal.js"></script>
</footer>