.container-content {
    height: 100vh;
    width: 25em;
    border-radius: 0.25em;
    border: 1px solid var(--pink);
    background-color: var(--pink);
}


.container-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: var(--space-md);
}

.container-main {
    padding: var(--space-md);
}

.container-hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}