.container-content {
  height: 100%;
  width: 25em;
  border-radius: 0.25em;
  border: 1px solid var(--pink);
  background-color: var(--pink);
}

.container-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: var(--space-md);
}

.container-main {
  padding: var(--space-md);
}

.container-hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.issue-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  margin-top: 12px;
  row-gap: 12px;
}

// .button__round-space {
//   margin: 10px;
//   margin-top: 1rem;
// }

body {
  background: #feefea;
}

.container-splash {
  height: 100%;
}
