// insert header layout

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
  padding: var(--space-xs);
  color: var(--yellow);
}

.splash-header {
  z-index: 1;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: var(--space-xs);
  color: var(--yellow);
}
